dd~=0.5.5
numpy~=1.17.5
keras==2.4.3
matplotlib~=3.3.1
scikit-image
tensorflow==2.2.0
scipy==1.4.1
sklearn~=0.0
pypoman~=0.5.4
foolbox==3.0.0b1
eagerpy~=0.25.2
pandas~=1.0.3
seaborn~=0.10.1
albumentations
h5py~=2.10.0
scikit-learn~=0.23.2
plotly~=4.13.0
protobuf==3.19